.ContactPage {
    background-color: #1F2020;
    margin: 0;
    padding: 0;
    width: 100%;
}

.ContactPage .card .card-body {
    background-color: #1F2020;
    color: white;
    border-color: #1F2020;
    padding-left: 80px;

}

.ContactPage .card .card-title {
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 75px;
    font-weight: 700 !important;
}


.ContactPage .card .card-text {
    padding-right: 30%;
    padding-bottom: 30px;
}


.ContactPage .card {
    --bs-border-width: 0px;
}

.ContactPage .card-img-top {
    margin: 0;
    padding: 0 !important;
}

.ContactPage .card img {
    border-radius: 0 !important;
}

.BigImage img {
    object-fit: scale-down;
    height: 790px;
    padding: 0;
    margin-left: 30px;
}

.imgcontact img {
    height: 20px;
    object-fit: scale-down;
}

.contactcol a {
    text-decoration: none !important;
    color: white
}