.WelcomePage {
    background-color: #1F2020;
    margin: 0;
    padding: 0;
    width: 100%;
}

.WelcomePage .card .card-body {
    background-color: #1F2020;
    color: white;
    border-color: #1F2020;
    padding: 70px;
}

.card {
    --bs-border-width: 0px;
}

.GitHubLink {
    text-decoration: none;
    color: #00ffd5;
}

.card img {
    border-radius: 0 !important;
}