.WelcomePage {
    background-color: #1F2020;
    margin: 0;
    padding: 0;
    width: 100%;
}

.WelcomePage .card .card-body {
    background-color: #1F2020;
    color: white;
    border-color: #1F2020;

}

.WelcomePage .card .card-title {
    font-size: 50px;
    padding-top: 50px;
    padding-left: 50px;
}

.WelcomePage .card .card-text {
    padding-top: 30;
    padding-right: 70px;
    padding-bottom: 30px;
    padding-left: 50px;
}


.WelcomePage .card {
    --bs-border-width: 0px;
}

.GitHubLink {
    text-decoration: none;
    color: #00ffd5;
    margin-left: 50px;
}

.WelcomePage .card-img-top {
    margin: 0;
    padding: 0 !important;
}

.WelcomePage .card img {
    border-radius: 0 !important;
}

.WelcomePage .GitHubLink {
    background-color: #FFFBEB !important;
    border: #FFFBEB !important;
    color: #1F2020 !important;
    font-weight: 500;
    padding: 20px;
    padding-right: 30px;
    margin-right: 20px;
    border-radius: 0;
}

.WelcomePage .AboutMe {
    background-color: #1F2020 !important;
    color: #FFFBEB !important;
    font-weight: 500;
    padding: 20px;
    padding-right: 30px;
    margin-right: 20px;
    border-radius: 0;
}

.WelcomePage .container-fluid {
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 50px !important;
    width: 100vw !important;
}