.projectButton {
    background-color: #023047 !important;
    border: #023047 !important;
    color: #FFFBEB !important;
    margin-right: 10px;
    margin-bottom: 20px;
}

.projectButton:hover {
    background-color: #00ffd5 !important;
    border: #00ffd5 !important;
    color: #023047 !important;
}

.ProjectsRow .card .card-body {
    background-color: #1F2020;
    color: FFFBEB;
    border-color: #1F2020;

}

.ProjectsRow .card .card-title {
    padding: 20px;
    border-bottom: 3px solid #00ffd5;
}

.ProjectsRow .card .card-text {
    padding: 20px;
    padding-left: 0px;
}

.ProjectsPage {
    padding-right: 50px !important;
    padding-left: 20px !important;
}

.ProjectsRow .card {
    background-color: #1F2020;
    color: #FFFBEB;
    border-color: #1F2020;
    margin-bottom: 50px;
}

.ProjectsRow .card-img-top {
    height: 300px;
    border: 5px solid #FFFBEB;
    object-fit: cover;
}

.ProjectsPage .container-fluid {
    padding-right: 50px !important;
}

.ProjectsPage h1 {
    padding-top: 50px;
    text-align: center;
    justify-content: center;
    color: #FFFBEB;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5em;
    font-weight: 800;
}

.titlesub {
    border-top: 5px solid #00ffd5;
    height: 5px;
    opacity: 1;
    margin-left: 500px;
    margin-right: 500px;
}